* {
    font-family: helvetica;
  }
  
body {
  background-color: black;
}
  
  #login-container {
    text-align: center;
    width: 30%;
    position: relative;
    border-radius: 5px;
    background-color: #111112;
    padding: 20px 0 30px;
  }

  .username-form {
    display: flex;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #username-input {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    line-height: 20px;
    border-radius: 4px;
    margin: 15px;
    display: inline-block;
    border: none;
    opacity: 0.85;
    background-color: #272729;
  }
  
  #create-user-btn {
    width: 100%;
    padding: 12px;
    background-color: #5e1df5;
    color: white;
    font-size: 17px;
    line-height: 20px;
    border-radius: 4px;
    margin: 15px;
    display: inline-block;
    border: none;
  }

  
  .channels {
    display: flex;
    flex: 6;
    flex-direction: column;
    margin-right: 15px;
    overflow-y: auto;
    width: 100%;
  }
  
  .new-channel-form {
    display: flex;
  }
/*   
  #new-channel-input {
    font-size: 14px;
    width: 70%;
  }
   */
  /* #new-channel-btn {
    font-size: 14px;
    width: 30%;
  } */
  
  .channel {
    font-size: 18px;
    padding: 10px 0px;
    margin: 2px 0px;
    cursor: pointer;
  }
  
  .channel:hover {
    color: grey;
  }
  
  .channel-current {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0px;
    margin: 2px 0px;
    background-color: #5e1df5;
  }
  
  .brand {
    margin-left: 8px;
  }
  
  .label {
    margin-left: 8px;
  }
  
  .chat-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #29272e;
  }
  
  .input-box{
    position: absolute;
    bottom: 0;
  }
  
  .chat-container-fluid {
    margin: 8px;
    display: flex;
    flex-direction: column;

  }
  
  .channels-and-users-online-container {
    width: 20%;
    /* margin-left: -8px;
    margin-top: -8px;
    margin-right: 8px; */
    display: flex;
    flex-direction: column;
    height: 750px;
    background-color: #19171f;
    color: white;
  }
  
  .users-online {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: auto;
    flex: 4;
  }
  
  .user-online {
    margin-bottom: 8px;
    font-size: 18px;
  }
  
  .text-chat-divide {
    border: 0.5px solid #5e1df5;
    margin-bottom: 10px;
  }
  
  .chat-box {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  label {
    display: block;
  }
  
  #chat-input {
    width: 100%;
    display: inline;
  }
  
  #send-chat-btn {
    width: 10%;
    display: inline;
  }
  
  .message-container {
    display: flex;
    margin-bottom: 10px;
    padding-bottom: 10px;
    flex-direction: column;
  }
  
  .message {
    margin-bottom: 5px;
  }
  
  .message-user {
    display: inline;
    color: red;
    font-weight: bold;
  }
  
  .message-text {
    display: inline;
  }
  
  .channel-chat-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .is-hidden {
    display: none !important;
  }

  #sign-out{
    border: 1px solid white;
    color: white;
  }
  #sign-out:hover {
    background-color: #5e1df5;
    border: none;
  }

  .channel-create-btn {
    background-color: black;
    border: 1px solid white;
  }

  /* #sign-out:hover {
    background-color: #5e1df5;
  } */